<div *ngIf="forecast">
  <h1 class="title">{{forecast.city.name}} weather forecast</h1>

  <div class="hourly-forecast">
      <forecast-item class="hourly-forecast__item"
        *ngFor="let forecastItem of forecast.list"
        time="{{formatTime(forecastItem.dt)}}"
        date="{{formatDate(forecastItem.dt)}}"
        humidity="{{forecastItem.main.humidity}}"
        temperature="{{formatTemperature(forecastItem.main.temp)}}"
        image-url="{{iconUrl}}/{{forecastItem.weather[0].icon}}.png"
        image-text="{{forecastItem.weather[0].main}}">
      </forecast-item>
  </div>
</div>

